# Pair Programming 30/05 Test estad√≠sticos 4 - Tatiana y Guada

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from sklearn.preprocessing import StandardScaler

plt.rcParams["figure.figsize"] = (10,8)

# Ejercicio 1
-Estandarizar las columnas de las variables predictoras

In [4]:
df = pd.read_csv("listings_limpio_2.csv", index_col=0)
df.head()

,neighbourhood_group,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,Chamart√≠n,Private room,3.021213,1,81,0.570000,1,149,3
1,Latina,Private room,2.661819,4,33,0.380000,2,131,0
2,Arganzuela,Entire home/apt,2.932182,15,0,1.347131,6,311,0
3,Centro,Entire home/apt,3.249172,5,14,0.160000,1,167,4
4,Arganzuela,Private room,2.622480,2,154,1.090000,1,344,5

In [5]:
#Estas son nuestras columnas que queremos estandarizar
df_estandarizar = df[["minimum_nights", "number_of_reviews", "reviews_per_month", "calculated_host_listings_count", "availability_365", "number_of_reviews_ltm"]]

In [6]:
st = StandardScaler()
df_std = pd.DataFrame(st.fit_transform(df_estandarizar), columns=df_estandarizar.columns)
df_std.head()

,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,-0.176920,0.647995,-0.561126,-0.382089,0.006434,-0.269185
1,-0.094650,-0.047665,-0.698318,-0.346261,-0.122452,-0.493411
2,0.207007,-0.525932,0.000012,-0.202945,1.166410,-0.493411
3,-0.067227,-0.323031,-0.857171,-0.382089,0.135321,-0.194442
4,-0.149497,1.705977,-0.185653,-0.382089,1.402701,-0.119700

In [7]:
columnas = df_std.columns
df[columnas] = df_std
df.head()

,neighbourhood_group,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,Chamart√≠n,Private room,3.021213,-0.176920,0.647995,-0.561126,-0.382089,0.006434,-0.269185
1,Latina,Private room,2.661819,-0.094650,-0.047665,-0.698318,-0.346261,-0.122452,-0.493411
2,Arganzuela,Entire home/apt,2.932182,0.207007,-0.525932,0.000012,-0.202945,1.166410,-0.493411
3,Centro,Entire home/apt,3.249172,-0.067227,-0.323031,-0.857171,-0.382089,0.135321,-0.194442
4,Arganzuela,Private room,2.622480,-0.149497,1.705977,-0.185653,-0.382089,1.402701,-0.119700

# Ejercicio 2
-Cread un ANOVA, siendo la variable respuesta price y las variables predictoras el resto de las columnas del dataframe

In [8]:
# iniciamos nuestro anova. Recordemos que la variable respuesta es el precio de las casas (price)
lm = ols('price ~ minimum_nights + number_of_reviews + reviews_per_month + availability_365 + number_of_reviews_ltm', data=df).fit()
sm.stats.anova_lm(lm)

                            df       sum_sq   mean_sq          F        PR(>F)
minimum_nights             1.0     0.120514  0.120514   0.654619  4.184772e-01
number_of_reviews          1.0     5.005943  5.005943  27.191645  1.863895e-07
reviews_per_month          1.0     0.047401  0.047401   0.257478  6.118646e-01
availability_365           1.0     0.097262  0.097262   0.528316  4.673258e-01
number_of_reviews_ltm      1.0     0.028692  0.028692   0.155851  6.930107e-01
Residual               17180.0  3162.813399  0.184099        NaN           NaN

üë©üèªüë©üèª‚Äçü¶∞üí¨

El resultado de la columna PR(>F) se refiere al *p-valor* con el que se determina si se rechaza la hip√≥tesis nula (recordamos tambi√©n que la hip√≥tesis nula era aquello contrario a lo que quer√≠amos predecir), siendo √©sta que la variable no tiene efecto sobre la variable respuesta. Si el valor p es menor que o igual a 0.05, debemos rechazar la hip√≥tesis nula y concluimos que esa variable si influye en el precio de las casas.